<ion-view view-title="首页">
  <ion-content>
      <div notice notice-text="公告：当天21:00之前订单两小时之内送达，21:00之后订单隔日再送~~"></div>
      <ul class="js-goods-list sc-goods-list pic clearfix size-1 " data-size="1" data-showtype="card" style="visibility: visible;">
          <li class="js-goods-card goods-card goods-list small-pic card ">
              <a href="http://wap.koudaitong.com/v2/goods/ftj9fy47?from=singlemessage" class="js-goods link clearfix" target="_blank" data-goods-id="31986000" title="果然享【瘦】组合套餐 (菠萝，猕猴桃，木瓜)">
                  <div class="photo-block" data-width="580" data-height="580" style="background-color: rgb(255, 255, 255);">
                      <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/05/11/0a11c572511a5212fda966b90bf04281.jpg!140x140+2x.jpg" src="http://img.yzcdn.cn/upload_files/2015/05/11/0a11c572511a5212fda966b90bf04281.jpg?imageView2/2/w/280/h/280/q/90/format/webp">
                  </div>
                  <div class="info clearfix info-no-title info-price btn1">
                      <p class="goods-price">
                          <em>￥10.00</em>
                      </p>
                  </div>
                  <div class="goods-buy btn1 info-no-title">
                  </div>
              </a>
          </li>

          <li class="js-goods-card goods-card goods-list small-pic card ">
              <a href="http://wap.koudaitong.com/v2/goods/15samvnb6?from=singlemessage" class="js-goods link clearfix" target="_blank" data-goods-id="31990295" title="饕餮盛宴组合套餐(越南红心火龙果,新西兰金奇异果,黑加仑无籽黑提)">
                  <div class="photo-block" data-width="580" data-height="580" style="background-color: rgb(255, 255, 255);">
                      <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/05/11/8f0c005dd4b7bcf02faa0d7c77bb5a28.jpg!140x140+2x.jpg" src="http://img.yzcdn.cn/upload_files/2015/05/11/8f0c005dd4b7bcf02faa0d7c77bb5a28.jpg?imageView2/2/w/280/h/280/q/90/format/webp">
                  </div>
                  <div class="info clearfix info-no-title info-price btn1">
                      <p class="goods-price">
                          <em>￥10.00</em>
                      </p>
                  </div>
                  <div class="goods-buy btn1 info-no-title">
                  </div>
              </a>
          </li>

          <li class="js-goods-card goods-card goods-list small-pic card ">
              <a href="http://wap.koudaitong.com/v2/goods/nk8qnm6y?from=singlemessage" class="js-goods link clearfix" target="_blank" data-goods-id="31989612" title="沁润抗癌套餐(美国红杉樱桃,泰国龙眼,黑加仑无籽黑提)">
                  <div class="photo-block" data-width="580" data-height="580" style="background-color: rgb(255, 255, 255);">
                      <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/05/11/d886cac686c55629226ce5ceda1f1d98.jpg!140x140+2x.jpg" src="http://img.yzcdn.cn/upload_files/2015/05/11/d886cac686c55629226ce5ceda1f1d98.jpg?imageView2/2/w/280/h/280/q/90/format/webp">
                  </div>
                  <div class="info clearfix info-no-title info-price btn1">
                      <p class="goods-price">
                          <em>￥10.00</em>
                      </p>
                  </div>
                  <div class="goods-buy btn1 info-no-title">
                  </div>
              </a>
          </li>

          <li class="js-goods-card goods-card goods-list small-pic card ">
              <a href="http://wap.koudaitong.com/v2/goods/1bv8z94xx?from=singlemessage" class="js-goods link clearfix" target="_blank" data-goods-id="31988945" title="生如夏花套餐(新西兰金奇异果,哈密瓜,白心火龙果)">
                  <div class="photo-block" data-width="560" data-height="560" style="background-color: rgb(255, 255, 255);">
                      <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/05/11/37cb459dec0c163818ea81b5929b2048.jpg!140x140+2x.jpg" src="http://img.yzcdn.cn/upload_files/2015/05/11/37cb459dec0c163818ea81b5929b2048.jpg?imageView2/2/w/280/h/280/q/90/format/webp">
                  </div>
                  <div class="info clearfix info-no-title info-price btn1">
                      <p class="goods-price">
                          <em>￥10.00</em>
                      </p>
                  </div>
                  <div class="goods-buy btn1 info-no-title">
                  </div>
              </a>
          </li>

          <li class="js-goods-card goods-card goods-list small-pic card ">
              <a href="http://wap.koudaitong.com/v2/goods/kvshjwmy?from=singlemessage" class="js-goods link clearfix" target="_blank" data-goods-id="31988229" title="午后时光组合套餐 (泰国龙眼,白心火龙果,黑加仑无籽黑提)">
                  <div class="photo-block" data-width="530" data-height="530" style="background-color: rgb(255, 255, 255);">
                      <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/05/11/e78c45ae52d9f20b829f770f30115fcc.jpg!140x140+2x.jpg" src="http://img.yzcdn.cn/upload_files/2015/05/11/e78c45ae52d9f20b829f770f30115fcc.jpg?imageView2/2/w/280/h/280/q/90/format/webp">
                  </div>
                  <div class="info clearfix info-no-title info-price btn1">
                      <p class="goods-price">
                          <em>￥10.00</em>
                      </p>
                  </div>
                  <div class="goods-buy btn1 info-no-title">
                  </div>
              </a>
          </li>

          <li class="js-goods-card goods-card goods-list small-pic card ">
              <a href="http://wap.koudaitong.com/v2/goods/9nb8s301?from=singlemessage" class="js-goods link clearfix" target="_blank" data-goods-id="31987352" title="抗雾霾清肺组合套餐 (哈密瓜，芒果，猕猴桃)">
                  <div class="photo-block" data-width="580" data-height="580" style="background-color: rgb(255, 255, 255);">
                      <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/05/11/085b2588c039a26cac24c8144d560199.jpg!140x140+2x.jpg" src="http://img.yzcdn.cn/upload_files/2015/05/11/085b2588c039a26cac24c8144d560199.jpg?imageView2/2/w/280/h/280/q/90/format/webp">
                  </div>
                  <div class="info clearfix info-no-title info-price btn1">
                      <p class="goods-price">
                          <em>￥10.00</em>
                      </p>
                  </div>
                  <div class="goods-buy btn1 info-no-title">
                  </div>
              </a>
          </li>
      </ul>
  </ion-content>
</ion-view>
