<ion-view view-title="首页">
  <ion-content>
      <div notice notice-text="公告：当天21:00之前订单两小时之内送达，21:00之后订单隔日再送~~"></div>
      <!--<div class="notice">-->
          <!--&lt;!&ndash;<span class="js-scroll-notice" style="position: relative; left: -315px;">公告：当天21:00之前订单两小时之内送达，21:00之后订单隔日再送~~</span>&ndash;&gt;-->
      <!--</div>-->
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
