/* Empty. Add your own SCSS if you like */
.tabs .tab-item {
  border-right: 1px solid #999; }
  .tabs .tab-item .tab-title {
    line-height: 47px;
    font-size: 15px; }

.notice {
  padding: 0 10px;
  height: 37px;
  line-height: 37px;
  color: #f90;
  background: #ffc;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  word-break: break-all;
  font-size: 12px;
  overflow: hidden; }

.sc-goods-list {
  font-size: 12px;
  padding: 5px;
  list-style: none;
  margin: 0; }
  .sc-goods-list .link {
    display: block;
    background: #fff;
    min-height: 100px; }
  .sc-goods-list .goods-card.small-pic.card {
    position: relative;
    max-height: 280px;
    width: 50%;
    float: left;
    margin: 4px 0; }
    .sc-goods-list .goods-card.small-pic.card .link {
      border-top: 2px solid #e5e5e5;
      border-right: 2px solid #e5e5e5;
      border-bottom: 2px solid #e5e5e5;
      border-left: 2px solid #e5e5e5;
      margin: 0 4px; }
    .sc-goods-list .goods-card.small-pic.card .photo-block {
      position: relative;
      width: 100%;
      height: 190px;
      background-color: white;
      text-align: center;
      overflow: hidden;
      background-size: 6px 6px; }
      .sc-goods-list .goods-card.small-pic.card .photo-block img {
        max-height: 100%;
        max-width: 100%; }
    .sc-goods-list .goods-card.small-pic.card .info {
      position: relative;
      min-height: 25px;
      font-size: 13px;
      padding-left: 4px;
      margin-top: 10px; }
      .sc-goods-list .goods-card.small-pic.card .info .goods-price {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 5px;
        font-weight: bold;
        padding: 0px; }
        .sc-goods-list .goods-card.small-pic.card .info .goods-price em {
          font-style: normal;
          color: #ff6600; }
    .sc-goods-list .goods-card.small-pic.card .goods-buy {
      position: absolute;
      right: 10px;
      bottom: 8px;
      height: 25px;
      width: 30px;
      background-position: 0 0;
      background-image: url("http://b.yzcdn.cn/v2/image/wap/showcase-1416814739063.png");
      background-repeat: no-repeat; }
